.taskList {
  margin-left: 35%;
  margin-top: 20px;
  border: 1px solid black;
  border-bottom: none;
  max-width: 400px;
}
h4 {
  text-align: center;
  margin-top: 20px;
}

.taskList2 {
  border-bottom: 1px solid black;
}
input {
  margin-left: 35%;
  margin-top: 20px;
  width: 400px;
  padding: 10px;
}
li {
  padding: 10px 10px 10px 10px;

}

